.canvas {
    width: 66%;
    margin: auto;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
    .canvas {
        width: auto;
        margin-top: 30%;
    }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
    .canvas {
        margin-top: 0;
        width: auto;
    }
}